// Required
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Optional
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";

// Custom SCSS
@import "partials/header";
