<footer>
  <div class="footer">
    <div class="container">
      Copyright {{"now"|date('Y')}}

    </div>
  </div>
  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-6 left">
          <p>Coded by <a href="mailto:joehubbard46@googlemail.com">Joe Hubbard</a></p>
        </div>
        <div class="col-sm-6 col-xs-6 right">
          <p>Copyright {{"now"|date('Y')}}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
