<header>
  <div class="container">
    <a href="{{site.link}}" class="logo">
        <img src="{{theme.link}}/assets/images/logo-merged-test.png" alt="">
    </a>
    <div class="mob-nav-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="desktop-nav">
        {% include "menu.twig" with {'menu': main.get_items} %}
    </div>
  </div>
  <div class="blue--dark mob-nav-container">
      <div class="container">
          <div class="mob-nav">
            {% include "menu.twig" with {'menu': main_mobile.get_items} %}
          </div>
      </div>
  </div>
</header>
